.sidebar { /*sidebar 컨테이너*/
    position: fixed;
    left: 0;
    top: 60px; 
    bottom: 0;
    width: 250px;
    background-color: #111536;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
.sidebar hr{ /*sidebar 가로 구분 줄*/
    color:white;
    size: 3px;
    width: 100%;
}

.me-auto{ /*드롭다운 메뉴*/
    padding: 10px 20px;
    line-height: 2rem;
    position: relative;
}

.profile {
  
  }

.name{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color:white;
}
.icon{
    display: flex;
    justify-content: space-between;
}



