.container {
    display: flex;
    flex-direction: row;
  }
  
.navbar{
flex-direction: column;
align-items: center;
width: 250px;
height: 100vh;
background-color: #111536;
}

.top-nav {
    display: flex;
    flex: 1;
    background-color: #e93636;
  }

.navbar hr{
    color:white;
    size: 3px;
    width: 100%;
    
}

.profile {
  
  }

.name{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color:white;
}
.icon{
    display: flex;
    justify-content: space-between;
}



